<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MockApp (JP)</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <header>MockApp (JP)</header>
      <div v-if="eventNum === 0">
        <br><p>この実験の所要時間は約7〜12分です。</p>
        <br><p>本研究の目的は、事前知識バイアスを避けるため、この実験の最後に開示されます。参加者は本研究の目的を知った上で、データを送るかどうかを選択することができます。</p>
        <br><p>この実験を始める前に、 <u style="color: pink;">ブラウザをGoogle Chromeにしてください。LINE等のアプリから開かれるブラウザは使わないでください<br><br>また、できれば椅子に座り、携帯電話は縦向きで、手にとってご使用ください。</u></p><br>
        <privacy-policy></privacy-policy><br>
        <initial-setup :accels="accels" :gyros="gyros" :debug-mode="debugMode"></initial-setup><br>
        <p>自動補正を全てOFFにした後、 <u style="color: pink">"Allow Sensor Use"ボタンを押し、"Next"ボタンを押してください</u><br><br>また、以下のボタンを押すと、上記のプライバシーポリシーに同意して頂いた事とします。</p>
        <div class="box">
          <button class="button" style="font-size: 2rem; margin: 1rem 0 0 33%;" id="start_demo" href="#" role="button">Allow Sensor Use</button><br>
          <button class="button" style="font-size: 2rem; margin: 1rem 0 0 45%;" :disabled="(accels.x+accels.y+accels.z+gyros.x+gyros.y+gyros.z) == 0" @click="eventNum++">Next</button>
        </div><br><br><br><br>
        <!--<button class="button" style="font-size: 1rem; margin: 1rem 0 0 1rem;" v-if="!debugMode" @click="activateDebugMode">Activate Debug Mode</button>-->
        <button class="button" style="font-size: 2rem; margin: 1rem 0 0 1rem; color: fuchsia;" v-if="debugMode" @click="eventNum++">Force Next</button>
      </div>
      <initial-form v-else-if="eventNum === 1" @initial-form-submitted="addInitialForm" @touch="updateTouch" @del-key="updateDel" :debug-mode="debugMode"></initial-form>
      <ground-survey v-else-if="eventNum === 2" @ground-truth-submitted="addGroundTruth" @touch="updateTouch" :debug-mode="debugMode"></ground-survey>
      <lorem-ipsum v-else-if="eventNum === 3" @sensors-data-submitted="addSensorsData" @touch="updateTouch" @del-key="updateDel" @skip="skip" :debug-mode="debugMode" :accels="accels" :gyros="gyros" :touch-num="touchNum" :del-num="delNum" :event-num="eventNum"></lorem-ipsum>
      <next-screen v-else-if="eventNum === 4" @skip="skip" :event-num="eventNum"></next-screen>
      <subtraction v-else-if="eventNum === 5" :debug-mode="debugMode" @skip="skip"></subtraction>
      <next-screen v-else-if="eventNum === 6" @skip="skip" :event-num="eventNum"></next-screen>
      <scwt v-else-if="eventNum === 7" :debug-mode="debugMode" @skip="skip"></scwt>
      <next-screen v-else-if="eventNum === 8" @skip="skip" :event-num="eventNum"></next-screen>
      <lorem-ipsum v-else-if="eventNum === 9" @sensors-data-submitted="addSensorsData" @touch="updateTouch" @del-key="updateDel" @skip="skip" :debug-mode="debugMode" :accels="accels" :gyros="gyros" :touch-num="touchNum" :del-num="delNum" :event-num="eventNum"></lorem-ipsum>
      <next-screen v-else-if="eventNum === 10" @skip="skip" :event-num="eventNum"></next-screen>
      <ground-survey v-else-if="eventNum === 11" @ground-truth-submitted="addGroundTruth" @touch="updateTouch" :debug-mode="debugMode"></ground-survey>
      <end-screen v-else-if="eventNum === 12" :run-data="runData"></end-screen>


      <div v-show="debugMode" style="color: fuchsia;">        
        <ul>Debugger:
          <li>eventNum = {{ eventNum }}</li>
          <li>touchNum: {{ touchNum }} <div id="display-area1"></div></li>
          <li>delNum: {{ delNum }}</li>
          <li>runData:
            <ul>
              <li>subjectInfo: {{ runData.subjectInfo }}</li>
              <li>groundTruth1: {{ runData.groundTruth1 }}</li>
              <li>groundTruth2: {{ runData.groundTruth2 }}</li>
              <li>record1: {{ runData.record1 }}</li>
              <li>record2: {{ runData.record2 }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Import Components -->
    <script src="./components/PrivacyPolicy.js"></script>
    <script src="./components/InitialSetup.js"></script>
    <script src="./components/InitialForm.js"></script>
    <script src="./components/GroundSurvey.js"></script>
    <script src="./components/LoremIpsum.js"></script>
    <script src="./components/Subtraction.js"></script>
    <script src="./components/Scwt.js"></script>
    <script src="./components/NextScreen.js"></script>
    <script src="./components/EndScreen.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')

      //Motion Sensor
      let PRECISION = 10
      let demo_button = document.getElementById("start_demo");
      demo_button.onclick = function(e) {
        e.preventDefault();   
        // Request permission for iOS 13+ devices
        if (DeviceMotionEvent && typeof DeviceMotionEvent.requestPermission === "function") {
          DeviceMotionEvent.requestPermission();
        }
        window.addEventListener("devicemotion", function(event) {
          if (event.acceleration.x != null)
            mountedApp.accels.x = parseFloat(event.acceleration.x.toFixed(PRECISION))
          if (event.acceleration.y != null)
            mountedApp.accels.y = parseFloat(event.acceleration.y.toFixed(PRECISION))
          if (event.acceleration.z != null)
            mountedApp.accels.z = parseFloat(event.acceleration.z.toFixed(PRECISION))

          if (event.rotationRate.alpha != null)
            mountedApp.gyros.x = parseFloat(event.rotationRate.alpha.toFixed(PRECISION))
          if (event.rotationRate.beta != null)
            mountedApp.gyros.y = parseFloat(event.rotationRate.beta.toFixed(PRECISION))
          if (event.rotationRate.gamma != null)
            mountedApp.gyros.z = parseFloat(event.rotationRate.gamma.toFixed(PRECISION))
        });
      };

      //Touch Events
      const displayArea1 = document.getElementById("display-area1")
      const touchArea1 = document.getElementById("app")
      // touchstartイベント
      touchArea1.addEventListener("touchstart", () => {
        mountedApp.touchNum++
        displayArea1.innerHTML = getTimeStamp() + " touchstart"
      })
      // タイムスタンプ取得
      function getTimeStamp(){
        const date = new Date()
        return ('0' + date.getHours()).slice(-2)
          + ':' + ('0' + date.getMinutes()).slice(-2)
          + ':' + ('0' + date.getSeconds()).slice(-2)
          + ':' + ('0' + date.getMilliseconds()).slice(-3)
      }
    </script>
  </body>
</html>
